<div class="container footer">
  <h2><%= link_to 'Sign Up', new_user_registration_path %></h2>
  <form action="">
    <input type="text">
    <input type="submit">
  </form>
  <div class="icons">
    <%= link_to 'facebook' %> | <%= link_to 'twitter' %> | <%= link_to 'phone' %>
  </div>
</div>
