<%= render 'shared_welcome/top' %>

<div class="fixed container">
  <header>
    <div class="header rows">
      <div class="headerText col-md-6 col-lg-6">
        <h1 class="underline">Creating Meaning</h1>
        <p>We believe in creating lasting value for brands rather than disposable digital marketing. That means we focus on building products, experiences and platforms that have the power to transform a brand and the web.</p>
      </div>
      <div class="headerImg  col-md-6 col-lg-6">
        <span class="glyphicon glyphicon-cloud-upload"></span>
      </div>
      <div class="clear"></div>
    </div>
  </header>
</div>
<article class="wordWrapperTop">
  <div class="article container rows">
    <h1 class="h1">What We Do</h1>
    <div class="stuff col-md-4 col-lg-4">
      <% holder_tag "100x100" %>
      <span class="glyphicon glyphicon-bookmark"></span>
      <h1>Web</h1>
      <p>
        We work to make web a beautiful place. We handcraft beautiful designs and convert them into fully functional and user-friendly web applications. We build beautiful, robust, clean and responsive websites from ground up. From basic static website to robust dynamic web applications, we will use tools at our disposal to deliver the best work to you.
      </p>
    </div>
    <div class="stuff col-md-4 col-lg-4">
      <span class="glyphicon glyphicon-user"></span>
      <h1>Web</h1>
      <p>
        We work to make web a beautiful place. We handcraft beautiful designs and convert them into fully functional and user-friendly web applications. We build beautiful, robust, clean and responsive websites from ground up. From basic static website to robust dynamic web applications, we will use tools at our disposal to deliver the best work to you.
      </p>
    </div>
    <div class="stuff col-md-4 col-lg-4">
      <span class="glyphicon glyphicon-picture"></span>
      <h1>Web</h1>
      <p>
        We work to make web a beautiful place. We handcraft beautiful designs and convert them into fully functional and user-friendly web applications. We build beautiful, robust, clean and responsive websites from ground up. From basic static website to robust dynamic web applications, we will use tools at our disposal to deliver the best work to you.
      </p>
    </div>
    <div class="clear"></div>
  </div>
</article>

<section>
  <div class="section">
    <div class="sectionIn">
      <h1>Why we are the best creative agency to handle your project.</h1>
      <div class="solution">
        <div class="solution1">
          <span class="glyphicon glyphicon-picture"></span>
          <p>We offer tailor made mobile applications that will meet your business objectives.</p>
        </div>
        <div class="solution1">
          <span class="glyphicon glyphicon-camera"></span>
          <p>We offer tailor made mobile applications that will meet your business objectives.</p>
        </div>
        <div class="solution1 noRight2">
          <span class="glyphicon glyphicon-comment"></span>
          <p>We offer tailor made mobile applications that will meet your business objectives.</p>
        </div>
        <div class="solution1">
          <span class="glyphicon glyphicon-film"></span>
          <p>We offer tailor made mobile applications that will meet your business objectives.</p>
        </div>
        <div class="solution1">
          <span class="glyphicon glyphicon-globe"></span>
          <p>We offer tailor made mobile applications that will meet your business objectives.</p>
        </div>
        <div class="solution1 noRight2">
          <span class="glyphicon glyphicon-list"></span>
          <p>We offer tailor made mobile applications that will meet your business objectives.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="sectionPixMain">
        <h1>Featured Projects</h1>
        <div class="sectionPix">
          <span class="glyphicon glyphicon-move"></span>
          <p>This is a web application we designed and developed recently for a company. We actually built it from ground up using relevant languages with expression engine cms. </p>
        </div>

        <div class="sectionPix">
          <span class="glyphicon glyphicon-trash"></span>
          <p>This is an advert and branding project we created for a consulting agency. We helped them to kick-start a marketing campaign that really engaged their target audience.</p>
        </div>

        <div class="sectionPix noRight">
          <span class="glyphicon glyphicon-transfer"></span>
          <p>We handcrafted this mobile application for a corporate organisation. The application is customized for their needs and it's available in android, windows iphone, IOS phone and blackberry. </p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</section>

<article class="noMargin">
  <div class="article btmArticle container">
  <div class="rows">
    <div class="stuff col-md-4 col-lg-4">
      <span class="glyphicon glyphicon-heart"></span>
      <h1>Discovery</h1>
      <p>We first find out what you want to get done. Then we sketch it and create a mock-up for it. We then use agile methods to start the design process. We do this while carrying our clients along to make sure we are headed in the direction with them.</p>
    </div>
    <div class="stuff col-md-4 col-lg-4 ">
      <span class="glyphicon glyphicon-heart"></span>
      <h1>Discovery</h1>
      <p>We first find out what you want to get done. Then we sketch it and create a mock-up for it. We then use agile methods to start the design process. We do this while carrying our clients along to make sure we are headed in the direction with them.</p>
    </div>
    <div class="stuff noRight col-md-4 col-lg-4">
      <span class="glyphicon glyphicon-heart"></span>
      <h1>Discovery</h1>
      <p>We first find out what you want to get done. Then we sketch it and create a mock-up for it. We then use agile methods to start the design process. We do this while carrying our clients along to make sure we are headed in the direction with them.</p>
    </div>
  </div>
    <div class="clear"></div>
  </div>
</article>
<%= render 'shared_welcome/footer' %>
