<%= render 'shared_welcome/top' %>
<%= render 'shared_welcome/exhibition' %>


<div class="fixed container">
  <header>
    <div class="header">
      <div>

        <p>졸업작품 : 2013-42-08</p>
        <p>작품명  : 온라인 포트폴리오 </p>
        <p>컴퓨터공학과 박창주</p>
        <div class="lead">
          프로젝트 작업 결과물을 웹에 올려 공개할 수 있는 Ruby on Rails 기반 웹입니다.<br/>
          테스트용 아이디와 비밀번호는 test@test.com, test1234 입니다.<br/>
          상단의 <code>Log in</code> 혹은 <code>Setting</code> 링크를 눌러 관리 페이지에 접속하실 수 있습니다.
        </div>
        <p>문의는 아래의 주소로 부탁드립니다.</p>
        <address>
          <strong>이름</strong><br>
          <span class="glyphicon glyphicon-user"></span> <span>박창주</span><br>
          <strong>연락처</strong><br>
          <span class="glyphicon glyphicon-earphone"></span> <span>010-6501-6663</span><br>
          <span class="glyphicon glyphicon-envelope"></span> <span>pcjpcj2@gmail.com</span><br>
        </address>
        <p class="text-danger"><small>아래의 문구들은 큰 의미는 없습니다. 신경안쓰셔도 됩니다.</small></p>
        <br/>
      </div>

<!--
      <div class="headerText col-md-6 col-lg-6">
        <h1 class="underline">Creating Meaning</h1>
        <p>We believe in creating lasting value for brands rather than disposable digital marketing. That means we focus on building products, experiences and platforms that have the power to transform a brand and the web.</p>
      </div>
      <div class="headerImg  col-md-6 col-lg-6">
        <span class="glyphicon glyphicon-cloud-upload"></span>
      </div>
      <div class="clear"></div>
-->
    </div>
  </header>
</div>
<article class="wordWrapperTop">
  <div class="article container rows">
    <h1 class="h1">What We Do</h1>
    <div class="stuff col-md-4 col-lg-4">
      <% holder_tag "100x100" %>
      <span class="glyphicon glyphicon-bookmark"></span>
      <h1>Web</h1>
      <p>
        We work to make web a beautiful place. We handcraft beautiful designs and convert them into fully functional and user-friendly web applications. We build beautiful, robust, clean and responsive websites from ground up. From basic static website to robust dynamic web applications, we will use tools at our disposal to deliver the best work to you.
      </p>
    </div>
    <div class="stuff col-md-4 col-lg-4">
      <span class="glyphicon glyphicon-user"></span>
      <h1>Web</h1>
      <p>
        We work to make web a beautiful place. We handcraft beautiful designs and convert them into fully functional and user-friendly web applications. We build beautiful, robust, clean and responsive websites from ground up. From basic static website to robust dynamic web applications, we will use tools at our disposal to deliver the best work to you.
      </p>
    </div>
    <div class="stuff col-md-4 col-lg-4">
      <span class="glyphicon glyphicon-picture"></span>
      <h1>Web</h1>
      <p>
        We work to make web a beautiful place. We handcraft beautiful designs and convert them into fully functional and user-friendly web applications. We build beautiful, robust, clean and responsive websites from ground up. From basic static website to robust dynamic web applications, we will use tools at our disposal to deliver the best work to you.
      </p>
    </div>
    <div class="clear"></div>
  </div>
</article>

<section>
  <div class="section">
    <div class="sectionIn">
      <h1>Why we are the best creative agency to handle your project.</h1>
      <div class="solution">
        <div class="solution1">
          <span class="glyphicon glyphicon-picture"></span>
          <p>We offer tailor made mobile applications that will meet your business objectives.</p>
        </div>
        <div class="solution1">
          <span class="glyphicon glyphicon-camera"></span>
          <p>We offer tailor made mobile applications that will meet your business objectives.</p>
        </div>
        <div class="solution1 noRight2">
          <span class="glyphicon glyphicon-comment"></span>
          <p>We offer tailor made mobile applications that will meet your business objectives.</p>
        </div>
        <div class="solution1">
          <span class="glyphicon glyphicon-film"></span>
          <p>We offer tailor made mobile applications that will meet your business objectives.</p>
        </div>
        <div class="solution1">
          <span class="glyphicon glyphicon-globe"></span>
          <p>We offer tailor made mobile applications that will meet your business objectives.</p>
        </div>
        <div class="solution1 noRight2">
          <span class="glyphicon glyphicon-list"></span>
          <p>We offer tailor made mobile applications that will meet your business objectives.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="sectionPixMain">
        <h1>Featured Projects</h1>
        <div class="sectionPix">
          <span class="glyphicon glyphicon-move"></span>
          <p>This is a web application we designed and developed recently for a company. We actually built it from ground up using relevant languages with expression engine cms. </p>
        </div>

        <div class="sectionPix">
          <span class="glyphicon glyphicon-trash"></span>
          <p>This is an advert and branding project we created for a consulting agency. We helped them to kick-start a marketing campaign that really engaged their target audience.</p>
        </div>

        <div class="sectionPix noRight">
          <span class="glyphicon glyphicon-transfer"></span>
          <p>We handcrafted this mobile application for a corporate organisation. The application is customized for their needs and it's available in android, windows iphone, IOS phone and blackberry. </p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</section>

<article class="noMargin">
  <div class="article btmArticle container">
  <div class="rows">
    <div class="stuff col-md-4 col-lg-4">
      <span class="glyphicon glyphicon-heart"></span>
      <h1>Discovery</h1>
      <p>We first find out what you want to get done. Then we sketch it and create a mock-up for it. We then use agile methods to start the design process. We do this while carrying our clients along to make sure we are headed in the direction with them.</p>
    </div>
    <div class="stuff col-md-4 col-lg-4 ">
      <span class="glyphicon glyphicon-heart"></span>
      <h1>Discovery</h1>
      <p>We first find out what you want to get done. Then we sketch it and create a mock-up for it. We then use agile methods to start the design process. We do this while carrying our clients along to make sure we are headed in the direction with them.</p>
    </div>
    <div class="stuff noRight col-md-4 col-lg-4">
      <span class="glyphicon glyphicon-heart"></span>
      <h1>Discovery</h1>
      <p>We first find out what you want to get done. Then we sketch it and create a mock-up for it. We then use agile methods to start the design process. We do this while carrying our clients along to make sure we are headed in the direction with them.</p>
    </div>
  </div>
    <div class="clear"></div>
  </div>
</article>
<%= render 'shared_welcome/footer' %>
