<%= render 'shared_welcome/top' %>

<div class="fixed container">
  <header>
    <div class="header rows">
      <div class="headerText col-md-6 col-lg-6">
        <h1 class="underline">Contact</h1>
        <p>We believe in creating lasting value for brands rather than disposable digital marketing. That means we focus on building products, experiences and platforms that have the power to transform a brand and the web.</p>
      </div>
      <div class="headerImg  col-md-6 col-lg-6">
        <span class="glyphicon glyphicon-cloud-upload"></span>
      </div>
      <div class="clear"></div>
    </div>
  </header>
</div>

<article class="wordWrapperTop">
  <div class="article container row contact">
    <h1 class="h1">Do you have any idea?</h1>
    <div class="stuff col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3">
      <%= render 'form' %>
    </div>
    <div class="stuff col-md-3 col-lg-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque adipiscing interdum tempus. Ut egestas felis velit, a suscipit metus convallis a. Cras risus mauris, imperdiet id nisi vitae, malesuada rutrum lorem. Ut quis porta elit. Aenean nec ante leo. Etiam et felis turpis. Vestibulum est tellus, venenatis et molestie non, facilisis ut dolor. Cras a lorem quis ipsum facilisis molestie ut vitae orci. Morbi lacus augue, aliquet sit amet justo sed, luctus auctor metus. Aliquam pulvinar at neque id fermentum. Phasellus euismod, tortor vel blandit aliquet, est nisl vestibulum lorem, in dictum ligula turpis quis justo. Vestibulum sit amet aliquam purus, non imperdiet tellus. Proin sit amet consectetur orci, rhoncus tristique purus. Cras feugiat, est nec viverra gravida, dui massa dapibus lectus, ut porttitor neque nulla mattis elit.
    </div>
    <div class="clear"></div>
  </div>
</article>

<%= render 'shared_welcome/footer' %>
