// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: white;
}
#sub_images{
  list-style: none;
  .handle{
    font-size: 12px;
    color: #777;
    cursor: move;
  }
}

#projects{
  list-style-type: none;

  .ui-selected{
    background: red;
  }
  li.project{
    position: relative;
    margin: 10px;
    float: left;
    background: #eee;
    border: solid 5px #eee;
    border-radius: 5px;
    text-align: center;
    div{
      display: block;
      img{
        margin-bottom: 10px;
        width: 250px;
        height: 140px;
      }
      img:hover{
        border: 5px solid black;
        border-radius: 5px;
      }
      a{
        color: black;
        text-decoration: none;
      }
      a:hover{
        font-weight: bold;
      }
    }
  }
}

.project-placeholder{
  border: 3px dashed #aaa;
  height: 180px;
  width: 254px;
  margin: 10px;
  background: #ccc;
  float: left;
}
.trashcan{
  position: absolute;
  width: 300px;
  height: 300px;
  background: red;
  display: inline-block;
  bottom: 0px;
  right: 0px;
}

.trashcan:hover{
}
.none{
  display: none;
}

.layouts{
  img{
    margin: 20px;
  }
}

.selected_layout{
  border: 5px solid black;
}
.project_index{

}
.topbar{
  background: black;

  h1{
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.sidebar{
  margin-top: 40px;
  .label{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
  }
  .lists{
    width: 100%;
    text-align: center;
  }
}
.visibility{
  margin-bottom:  50px;
}
