// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: #41363b;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p{
  font-family: 'Lato', sans-serif !important;
  font-weight: 300 !important;
  line-height: 1.5em !important;
  font-size: 1.2em !important;
}
h1.underline{
  background: url('h1bg.png') no-repeat;
  background-position: center bottom;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

nav{
  background: #8CBEB2;
  width: 100%;
  border-bottom: 1px solid #e95644;
  position: fixed;
  z-index: 100;
  top: 0;
  ::selection{
    background: #8CBEB2;
    color: #F3B562;
  }
  .nav{
    width: 900px;
    margin: 0 auto;
    padding: 10px 0;
    a.logo{
      float: left;
      width:  80px;
      height: 64px;
      display: inline-block;
      margin: 0 0 10px;
      color: 5C4B51;
    }
    ul.navigation{
      float:right;
      width: 400px;
      list-style: none;
      li{
        float: left;
        display: inline-block;
        line-height: 60px;
        a{
          text-decoration: none;
          color: #fff;
          font-family: 'Lato', sans-serif;
          font-size: 1.2em;
          font-weight: 300;
          display: inline-block;
          width: 100px;
          height: 61px;
          -webkit-transition: all .5s ease-out;
          -moz-webkit-transition: all .5s ease-out;
          -ms-webkit-transition: all .5s ease-out;
          -o-webkit-transition: all .5s ease-out;
        }
        a:hover{
          color: #F3B562;
        }
        ::selection{
          background: #F2EBBF;
          color: #F3B562;
        }
      }
    }
  }
}
// under Tob bar
.fixed{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  header{
    //background: #41363b;
    width: 100%;
    margin-top: 50px;
    div.header{
      width: 900px;
      margin:  auto;
      padding: 100px 50px;
      .headerText{
        h1{
          font-family: 'loveloblack', Helvetica, sans-serif !important;
          font-size: 5em;
          text-transform: uppercase;
          font-weight: normal;
          color: #F3B562;
          margin: 0;
          line-height: 60px;
        }
        p{
          color: #fff;
          font-size: 1.5em;
          margin: 10px 0 0 0;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
        }
      }
      .headerImg{
        text-align: center;
        .glyphicon{
          font-size: 250px;
          color: white;
        }
      }
      .clear{ clear: both;}
    }
  }
}

// Article
article{
  background: #F3B562;
  width: 100%;
  position: relative;
  z-index: 20;
  margin-top: 548px;
}
.wordWrapperTop{
  margin-top: 560px;
  padding-top: 50px;
  border-top: 1px solid white;

  .article{
    margin: 0 auto;
    padding: 10px 100px 40px;
    padding-bottom: 70px;
    color: #fff;

    .h1{
      font-size: 3em;
      text-align: center;
      border-bottom: 1px solid white;
      padding-bottom: 10px !important;
      color: #fff;
      font-family: 'Lato', sans-serif !important;
      font-weight: 300;
      margin: 30px 0px;
      height: 70px;
    }

    .stuff{
      text-align: center;
      h1{
        font-size: 2em;
        font-family: 'Lato', sans-serif !important;
        font-weight: 300;
      }
      p{
        text-align: left;
        font-family: 'Lato', sans-serif !important;
        font-weight: 300;
        line-height: 1.5em;
        font-size: 1.2em;
      }
    }
    .noRight{
      margin-right:  0;
    }
    .clear{
      clear: both;
    }
  }
  .glyphicon{
    font-size: 100px;
  }
}

section{
  background: url('bg.gif');
  width: 100%;
  position: relative;
  z-index: 50;
  .section{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 700px;
    .sectionIn{
      position: relative;
      z-index: 70;
      top: -50px;
      padding: 50px;
      background: #fff;
      -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
      -moz-webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
      -ms-webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
      -o-webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);

      h1{
        color: #F3B562;
        font-size: 3em;
        font-family: 'Lato', sans-serif !important;
        font-weight: 300;
        margin: 0;
        margin-bottom: 20px;
        margin-top: 50px;
      }
      .solution{
        .solution1{
          width: 290px;
          float: left;
          margin-right: 10px;
          margin: 50px 10px 30px 0;
          img{
            float: left;
            width: 54px;
            margin-right: 15px;
          }
          p{
            float: left;
            width: 200px;
            margin: 0;
            padding: 0;
            font-family: 'Lato', sans-serif !important;
          }
          .glyphicon{
            font-size: 54px;
            float: left;
            margin-right: 15px;
          }
        }
        .clear{
          clear: both;
        }
        p{
          font-size: 1.2em;
          line-height: 27px;
        }
      }
    }
    .sectionPixMain{
      position: relative;
      width: 745px;
      padding: 0px;
      margin: 0 auto;
      h1{
        text-align: center;
        margin-bottom: 20px;
        margin-top: 50px;
      }
      .sectionPix{
        width: 220px;
        margin-right: 30px;
        padding: 15px;
        float: left;
        border: 1px solid #F3B562;
        text-align: center;

        p{
          font-size: 1.2em;
          line-height: 27px;
        }
        .glyphicon{
          font-size: 54px;
          margin: 20px;
        }
      }
      .clear{ clear: both; }
      .noRight{
        margin-right: 0;
      }
    }
  }
}
.noRight2{
  margin-right: 0;
}

article.noMargin{
  margin-top: 0px;
  border-bottom: 1px solid #fff;
  .article{
    margin: 0 auto;
    padding: 10px 100px 40px;
    padding-bottom: 70px;
    color: #fff;
    .h1{
      font-size: 3em;
      text-align: center;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      color: #fff;
      font-family: 'Lato',sans-serif !important;
      font-weight: 300 !important;
    }
    .stuff{
      text-align: center;
      h1{
        font-size: 2em;
        font-family: 'Lato',sans-serif !important;
        font-weight: 300;
      }
    }
  }
  .btmArticle{
    padding-top: 400px;
    .clear{ clear: both;}
  }
}


.footer{
  text-align: center;
  padding: 26px 50px;
  ::selection{
    background: #F2EBBF;
    color: #F3B562;
  }

  h2{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0 0 20px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
  }
  .icons{
    display: inline-block;
  }
}
#team{
  background: black;
  color: white;
  .h1{
      font-size: 3em;
      text-align: center;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      color: #fff;
      font-family: 'Lato',sans-serif !important;
      font-weight: 300 !important;
  }
  .team{
    text-align: center;
  }
  padding-bottom: 20px;
}
.contact{
  text-align: center;
  .stuff{
    text-align: justify !important;
  }
}
